block title
    title Predict

block content
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script.
        var socket = io.connect('http://localhost:5001/');
    div
        p ESPERADO TOKENS
        for res in esperadoT
            for tok in res
                spam #{tok} --- 
            br
    div
        p RESULTADO TOKENS
        for res in resultadoT
            for tok in res
                spam #{tok.label} --- 
            br
    div
        p ESPERADO FRASES
        for txt in esperadoF
            p -     #{txt} 
    div
        p RESULTADO FRASES
        for phrase in resultadoF
            p -     #{phrase} 