block title
    title Predict

block content
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script.
        var socket = io.connect('http://localhost:5001/');
    div
        p ESPERADO
        for res in resultList
            for tok in res
                spam #{tok} --- 
            br
    div
        p RESULTADO
        for res in result
            for tok in res
                spam #{tok.label}(#{Math.round(tok.val*100)/100}) --- 
            br