body{
	font-family: Consolas,Monaco,'Andale Mono',monospace;
	color: gray;
	margin: 0px;
}

h1{
	font-size: 30px;
    line-height: 36px;
}

p {
	margin: 0px;
	padding: 5px;
}

table{
	width: 100%;
}

td{
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 0px solid rgba(255, 255, 255, 0.5);
	border-bottom: 0px solid rgba(255, 255, 255, 0.5);
	background: rgba(0,0,50,0.1);
}

.prices{
	display: inline-flex;
	flex-direction: row;
	width: 100%;
    height: 100%;
	align-items: stretch;
	align-content: stretch;
}
.prices div{
	flex-grow: 1;
}

.red{
	color: red;
	background-color: #ffcccc;
}

.redInvert{
	color: #ffcccc;
	background-color: red;
}

.greenInvert{
	color: #ccffcc;
	background-color: green;
}

.yellow{
	color: darkorange;
	background-color: #ffffaa;
}

.header{
	color: white;
	font-size: 40px;
	background-color: #444444;
    border-bottom: 7px solid #1e5d7d;
    padding: 15px;
	display: block;
}

.content{
	margin: 15px;
	color: #23527c;
}